#app {
  max-width: 1280px;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(tan, white);
  height: 150vh;
  width: 100vw;
}

h1 {
  color: black;
  text-decoration: none;
}

.greetings {
  text-align: center;
  display: flex;
  justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
  }

.message {
  color: darkslategray;
}

a {
  color: navy;
}

a:link {
  color: indigo;
}

a:hover {
  color: white;
}