#app {
  max-width: 1280px;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(tan);
  height: 100vh;
  width: 100vw;
}

h1 {
  color: black;
  text-decoration: none;
}

h3 {
  display: flex;
  justify-content: center;
  padding-right: 2rem;
}

.message {
  color: darkslategray;
}